<%- include("partials/header") %>

<div class="landing">

    <div id="landing-header">
        <h1 id = "superposition">Superposition</h1>
        <h1>Columbia</h1>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScZm72KgJbVJ1bv8sFIvZGsp_GMmZblR98R0by272lZo6Ljgg/viewform" type="button" class="btn btn-primary btn-lg" id="join-button">Join SP@CU!</a>
    </div>
    
</div>

<div class= "container">
    
    <section id="about">
        <h1 class="section-heading">About</h1>
        <p> Superposition is an international non-profit bridging the gender gap in STEM. Our mission is to empower women in STEM by creating educational opportunities & supportive spaces for developing their passions. </p>

        <p> Since 2016, we've held the Bay Area's largest all-women and non-binary hackathon in partnership with companies like VSCO and Uber. Starting in March 2020, we expanded beyond a 24-hour hackathon to provide year-round opportunities for our community through a webinar series, Uber mentorship program, chapter program, and more. With our 25 chapters, events and content, we've reached 300,000+ individuals in 44 states and 52 countries. </p>

        <p> Superposition Columbia is one of the 25 chapters. Although our chapter is hosted on Columbia University's campus, we plan to hold events where young girls of all ages in NYC can be reached. We strive to provide opportunities from workshops and projects to regional hackathons and competitions ass well as ultimately making efforts to give back to the community </p> 
        
    </section>

    <section id="team">

        <h1 class="section-heading">Meet the Team</h1>
        
        <div class="container">
            <div class= "row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="https://lh3.googleusercontent.com/wBvZMW1-MgxKLTItEYakKX6E-MDU3cS33t5jH2mS9oAudfGc8nnc9ugPKm6lP2QB_1Dyh73h2nEF_TNB7uRZDRIDwE2KLsvLqbUDk1cOTjPoALuTKwojix-XwI7LZO3b3TvcPimUxg=w2400" class="img-responsive img-circle" alt="">
                        <p class="team-names">Patricia Luc</p>
                        <p class="text-muted">Chapter Lead</p>
                        <p class="text-muted board-class">SEAS 2024</p>
                    
                        <ul class="list-inline social-buttons">
                            <li><a href="mailto:pbl2116@columbia.edu"><i class="fa fa-envelope"></i></a></li>
                            <li><a href="https://www.facebook.com/profile.php?id=100010783951305" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/patricia-luc-9441901b2/"  target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="https://lh3.googleusercontent.com/igIk29UmvYv-gc06IEzIioWPnjugJQ3Qx0A-ZwBQfC-nRR15G5VAdAJZCkaIDeNt3QXpILqs36Ew_5Kb7HYF1bjCfmU2BQRbI_xxMVJScBMYUy62zBuCYee9bBRPeHbL1vC-U0OtFA=w2400" class="img-responsive img-circle" alt="">
                        <p class="team-names">Isabel Macgill</p>
                        <p class="text-muted">Director of Outreach</p>
                        <p class="text-muted board-class">GS 2023</p>
                
                        <ul class="list-inline social-buttons">
                            <li><a href="mailto:ism2113@columbia.edu"><i class="fa fa-envelope"></i></a></li>
                            <li><a href="https://www.facebook.com/isabel.macgill" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/isabel-macgill-8576a517a/"  target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="https://lh3.googleusercontent.com/caBt_ifkMtiOrZ9LInpzdX-IBi9STtwuM4xpgozCmHGBC_1VyQB_CcKQGzzTAwHv3nC2Uim6E9ZS8qNAe7rDJb1ZlDFIbsscQgN_Nv85TilxG0cR8I8PdkFph6uhHXErs8oTszUPUw=w2400" class="img-responsive img-circle" alt="">
                        <p class="team-names">Adiba Ejaz</p>
                        <p class="text-muted">Director of Technology</p>
                        <p class="text-muted board-class">CC 2023</p>
                
                        <ul class="list-inline social-buttons">
                            <li><a href="mailto:adiba.ejaz@columbia.edu"><i class="fa fa-envelope"></i></a></li>
                            <li><a href="https://www.facebook.com/notadiba" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/adibaejaz/"  target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="https://lh3.googleusercontent.com/o2AxycUZJEttwaAc2Rc16P7EKamQRU_rhicFc_px-Hd7c3nCFRfPDGvSM-IK5wtpnUVWHEcsqlWqkQyvOxqrZPxz0_4QTEz1nA3t0z0LbxmTcabGYJwDKcq3YfuvTh6yCG0JtUOGHw=w2400" class="img-responsive img-circle" alt="">
                        <p class="team-names">Abigail Roh</p>
                        <p class="text-muted">Co-Director of Operations</p>
                        <p class="text-muted board-class">CC 2024</p>
                
                        <ul class="list-inline social-buttons">
                            <li><a href="mailto:acr2202@columbia.edu"><i class="fa fa-envelope"></i></a></li>
                            <li><a href="https://www.facebook.com/abigail.roh.16" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/abigailroh/"  target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="https://lh3.googleusercontent.com/er4fFFShJYfbbuFIjpnfzuZuIac9F3ALTxOt-5OW9mz7PIFxsy3-gH-Iq_rVC3phnujmL9n0V5_UrCkydT_574pOFiO3I-TxpiJFSGW1UrIpdp0NijaPtoCyc0u_ZI_tsMl_Nzs1mg=w2400" class="img-responsive img-circle" alt="">
                        <p class="team-names">Nazaret Cuadros</p>
                        <p class="text-muted">Co-Director of Operations</p>
                        <p class="text-muted board-class">BC 2023</p>
                
                        <ul class="list-inline social-buttons">
                            <li><a href="mailto:nc2836@barnard.edu"><i class="fa fa-envelope"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/nazaretc/"  target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="https://lh3.googleusercontent.com/YLutmELF-mIISZrhJD9GBI3UQpghFlk1u-SXx0nZjV2j1uDSejhIizqNgweJVdFbOrsWZ69cCvi4EmAQhmt-SLROYUeQc4vkEXxDY9iF3I-wASXwiTdeYVQDY2J8Xvh1L60lRhitsw=w2400" class="img-responsive img-circle" alt="">
                        <p class="team-names">Sofia Bianchi</p>
                        <p class="text-muted">Co-Director of Finance</p>
                        <p class="text-muted board-class">GS 2023</p>
                
                        <ul class="list-inline social-buttons">
                            <li><a href="mailto:srb2225@columbia.edu"><i class="fa fa-envelope"></i></a></li>
                            <!-- <li><a href="https://www.facebook.com/abigail.roh.16" target="_blank"><i class="fa fa-facebook"></i></a></li> -->
                            <li><a href="https://www.linkedin.com/in/sofia-bianchi-472511160/"  target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="https://lh3.googleusercontent.com/iZHWnlrCQEN5LOT58zRMHnn8Jsxmc5LlHueLbjW5E2hEq7ruxW5NxD0RPcN-Me-uQCO3H9gGFWA-MReR-CltDuDrq0mOhiFnxJndFzlQOVeVhMv6lyp-uI3gZOAhFGb15JeuOiRKNg=w2400" class="img-responsive img-circle" alt="">
                        <p class="team-names"> Fatima Azimova </p>
                        <p class="text-muted">Co-Director of Finance</p>
                        <p class="text-muted board-class">BC 2023</p>
                
                        <ul class="list-inline social-buttons">
                            <li><a href="mailto:fa2539@barnard.edu"><i class="fa fa-envelope"></i></a></li>
                            <li><a href="https://www.facebook.com/azimovaaaa" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/fatima-azimova-7091371aa/"  target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="https://lh3.googleusercontent.com/UjF9icrZoqE1oXzDM7Lzz2ZJMtB4DTPszXzMlY71_zqYCTr5hdeFKhfM3TZoTsj2Zoiqd7kzri6Ma2VgMoWSD4TIpGgHwA7Ki0Y2FSe1yLbapEPFLqcXXigQGpCiD4lEvBEU7bdDrA=w2400" class="img-responsive img-circle" alt="">
                        <p class="team-names">Adiba Hussain</p>
                        <p class="text-muted">Director of Media</p>
                        <p class="text-muted board-class">BC 2023</p>
                
                        <ul class="list-inline social-buttons">
                            <li><a href="mailto:ah3687@barnard.edu"><i class="fa fa-envelope"></i></a></li>
                            <li><a href="https://www.facebook.com/adiba.hussain.14418" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/adiba-h-65801a126/"  target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="https://lh3.googleusercontent.com/aJ4L50N7iDq96C9grrugmRHrR9FkdHIBAixLh5UsAsHjILSX4w7rhmhsh52chcjtYoiGyZagb9fNiE5Hov5RU2tC33S9Bj-7sChe4Raa5j0cNE6JZpJxnfonV5GqbEnJyFkZ6GNv3A=w2400" class="img-responsive img-circle" alt="">
                        <p class="team-names">Monserrat Ambrosio</p>
                        <p class="text-muted">Media Division</p>
                        <p class="text-muted board-class">CC 2023</p>
                
                        <ul class="list-inline social-buttons">
                            <li><a href="mailto:mva2123@columbia.edu"><i class="fa fa-envelope"></i></a></li>
                            <li><a href="https://www.facebook.com/monserrat.ambrosio" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/monserrat-ambrosio-411254160/"  target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="https://lh3.googleusercontent.com/SXHVTVRGZPmzrgGqg1FRwblGT4JEXtuc0AjcEaJm20lqWuTtZvElA43DHmzArx95qVvx6OY0zWfmF_xFDhCyCR6-a41RPmxyFkVa4P4jYXD9h-XL826UeslAy1F-LzY4Ll2ENVMs1w=w2400" class="img-responsive img-circle" alt="">
                        <p class="team-names">Sarah Shen</p>
                        <p class="text-muted">Media Division</p>
                        <p class="text-muted board-class">CC 2024</p>
                
                        <ul class="list-inline social-buttons">
                            <li><a href="mailto:ss6170@columbia.edu"><i class="fa fa-envelope"></i></a></li>
                            <li><a href="https://www.facebook.com/sarah.shen.50159" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <!-- <li><a href="https://www.linkedin.com/in/adiba-h-65801a126/"  target="_blank"><i class="fa fa-linkedin"></i></a></li> -->
                        </ul>
                    </div>
                </div>

                
       
            </div>
        </div>

    </section>

    <section id="events">
        <h1 class="section-heading">Events</h1>

        <div class="container">
            <div class= "row">
                <% events.forEach(function(event){ %>
                <div class="col-sm-4">
                    
                        <div class="title" id= "event-title"><%=event.title%></div>

                        <div class="thumbnail">
                            <img class="event-image" src="<%=event.imagelink%>"/>
                        </div>

                        <div class= "item">
                            <div class=content>
                                <div class= "description" id= "event-description">
                                    <p><%- event.description%></p>
                                </div>
                            </div>
                        </div>
                </div>
                <% }); %> 
            </div>
        </div> 
    </section>

    <section id="sponsors">
        <h1 class="section-heading">Superposition IV Sponsors</h1>

        <div class="container">
            <div class= "row">
                
                <div class="col-sm-3">
                    <div class="sponsors">
                        <img class="sponsorsimages" src="https://cdn.glitch.com/f92664f8-7445-444e-8a68-1fa484daef7d%2FHack%2B.png?v=1580856723263"/>
                    </div>
                </div>
        
                <div class="col-sm-3">
                    <div class="sponsors">
                        <img class="sponsorsimages" src="https://cdn.glitch.com/f92664f8-7445-444e-8a68-1fa484daef7d%2FLogitech_logo.png?v=1580856732421"/>
                    </div>
                </div>
        
                <div class="col-sm-3">
                    <div class="sponsors">
                        <img class="sponsorsimages" src="https://cdn.glitch.com/f92664f8-7445-444e-8a68-1fa484daef7d%2FDapperLabs.png?v=1580856634536"/>
                    </div>
                </div>
        
                <div class="col-sm-3">
                    <div class="sponsors">
                        <img class="sponsorsimages" src="https://cdn.glitch.com/f92664f8-7445-444e-8a68-1fa484daef7d%2FBalsamiq.png?v=1580856714144s"/>
                    </div>
                </div>
        
            </div>
        
                <!-- *-------------------* -->
        
            <div class= "row">
                <div class="col-sm-3">
                    <div class="sponsors">
                        <img class="sponsorsimages" src="https://cdn.glitch.com/f92664f8-7445-444e-8a68-1fa484daef7d%2FPrudentialLogo.png?v=1585094527982"/>
                    </div>
                </div>
        
                <div class="col-sm-3">
                    <div class="sponsors">
                        <img class="sponsorsimages" src="https://cdn.glitch.com/f92664f8-7445-444e-8a68-1fa484daef7d%2FCompoundFinance.png?v=1580856771256"/>
                    </div>
                </div>
        
                <div class="col-sm-3">
                    <div class="sponsors">
                        <img class="sponsorsimages" src="https://cdn.glitch.com/f92664f8-7445-444e-8a68-1fa484daef7d%2FCoda.png?v=1580856776167"/>
                    </div>
                </div>
        
                <div class="col-sm-3">
                    <div class="sponsors">
                        <img class="sponsorsimages" src="https://cdn.glitch.com/696a54c7-e493-465b-b503-c49262ef99ac%2FRStudio.png?v=1579580771370"/>
                    </div>
                </div>
            </div>
        
                <!-- *-------------------* -->
        
            <div class= "row">
                <div class="col-sm-3">
                    <div class="sponsors">
                        <img class="sponsorsimages" src="https://cdn.glitch.com/f92664f8-7445-444e-8a68-1fa484daef7d%2FMaybelline.png?v=1580856808148"/>
                    </div>
                </div>
        
                <div class="col-sm-3">
                    <div class="sponsors">
                        <img class="sponsorsimages" src="https://cdn.glitch.com/f92664f8-7445-444e-8a68-1fa484daef7d%2FRealVNC-Logo_Full-colour-1.png?v=1585093991581"/>
                    </div>
                </div>
        
                <div class="col-sm-3">
                    <div class="sponsors">
                        <img class="sponsorsimages" src="https://cdn.glitch.com/f92664f8-7445-444e-8a68-1fa484daef7d%2Fyum.png?v=1580882645880"/>
                    </div>
                </div>
        
                <div class="col-sm-3">
                    <div class="sponsors">
                        <img class="sponsorsimages" src="https://cdn.glitch.com/f92664f8-7445-444e-8a68-1fa484daef7d%2Fchabot-logo-02_1200x483.png?v=1580856791332"/>
                    </div>
                </div>
            </div>
        
                <!-- *-------------------* -->
        
            <div class= "row">
                <div class="col-sm-3">
                    <div class="sponsors">
                        <img class="sponsorsimages" src="https://cdn.glitch.com/f92664f8-7445-444e-8a68-1fa484daef7d%2FFacebook-Wordmark-Gray.png?v=1585093469852"/>
                    </div>
                </div>
        
                <div class="col-sm-3">
                    <div class="sponsors">
                        <img class="sponsorsimages" src="https://cdn.glitch.com/f92664f8-7445-444e-8a68-1fa484daef7d%2Famazon-logo-transparent.png?v=1585092633506"/>
                    </div>
                </div>
        
                <div class="col-sm-3">
                    <div class="sponsors">
                        <img class="sponsorsimages" src="https://cdn.glitch.com/f92664f8-7445-444e-8a68-1fa484daef7d%2FAnkerLogo.png?v=1585092642272"/>
                    </div>
                </div>
        
                <div class="col-sm-3">
                    <div class="sponsors">
                        <img class="sponsorsimages" src="https://cdn.glitch.com/f92664f8-7445-444e-8a68-1fa484daef7d%2Fpopsockets%20logo.png?v=1580856815073"/>
                    </div>
                </div>
            </div>

            <div class= "row">
                <div class="col-sm-3">
                    <div class="sponsors">
                        <img class="sponsorsimages" src="https://cdn.glitch.com/f92664f8-7445-444e-8a68-1fa484daef7d%2FSketch.png?v=1580856852094"/>
                    </div>
                </div>
        
                <div class="col-sm-3">
                    <div class="sponsors">
                        <img class="sponsorsimages" src="https://cdn.glitch.com/f92664f8-7445-444e-8a68-1fa484daef7d%2FSupercell_opt.png?v=1579754273644"/>
                    </div>
                </div>
        
                <div class="col-sm-3">
                    <div class="sponsors">
                        <img class="sponsorsimages" src="https://cdn.glitch.com/f92664f8-7445-444e-8a68-1fa484daef7d%2F%5BADD%5D%20Bugsee%20(1).png?v=1579754573502"/>
                    </div>
                </div>
        
                <div class="col-sm-3">
                    <div class="sponsors">
                        <img class="sponsorsimages" src="https://cdn.glitch.com/696a54c7-e493-465b-b503-c49262ef99ac%2F%5BADD%5D%20JetBrains.png?v=1577954837016"/>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="photos">
        <h1 class="section-heading">Photos</h1>

        <div class="container">
            <div class= "row">
                <% photos.forEach(function(photo){ %>
                <div class="col-sm-4">
                        <div class="thumbnail">
                            <img class="photo" src="<%=photo.image%>"/>
                        </div>

                        <div class= "item">
                            <div class=content>
                                <div class= "caption">
                                    <p><%- photo.caption%></p>
                                </div>
                            </div>
                        </div>
                </div>
                <% }); %> 
            </div>
        </div> 

    </section>

    <section id="calendar">

        <h1 class="section-heading">Calendar</h1>

        <div class="container" id= "calendar-div">
            <p style="text-align: center;"><iframe src="https://calendar.google.com/calendar/embed?src=ch.columbia%40superposition.tech&ctz=America%2FNew_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe></p>
        </div>

    </section>

    <section id="contact">

        <h1 class="section-heading">Contact Us!</h1>

        <div class="container">
            <div class= "row">
                <div class="col-sm-2">
                    <div>
                        <a href="mailto:ch.columbia@superposition.tech" type="button" class="btn btn-primary btn-lg contact-button">Email Us</a>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div>
                        <a href="https://www.facebook.com/superpositioncolumbia" type="button" class="btn btn-primary btn-lg contact-button">Facebook</a>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div>
                        <a href="https://www.instagram.com/superpositioncolumbia" type="button" class="btn btn-primary btn-lg contact-button">Instagram</a>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div>
                        <a href="https://twitter.com/SuperpositionC" type="button" class="btn btn-primary btn-lg contact-button">Twitter</a>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div>
                        <a href="https://www.linkedin.com/company/superposition-columbia" type="button" class="btn btn-primary btn-lg contact-button">LinkedIn</a>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div>
                        <a href="https://linktr.ee/ch.columbia" type="button" class="btn btn-primary btn-lg contact-button">Linktree</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

<%- include("partials/footer") %>

          